.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.intro {
  text-align: center;
  margin-bottom: 2.5rem;
}

.featureKicker {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
